.weatherContainer{
    border: 2px solid gray;
    border-radius: 10px;
    padding: 1rem;
}
.dayDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem;
}