.App {
  background-color: rgb(46, 71, 63);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}
select {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}
